body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 500;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 44%;
    float: left;
    margin: 2%;
    text-align: justify;
    padding: 1%;
}
.half-width img{
    width: 100%;
}